@import '../style/color';
.cardModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.726);
  z-index: 10;
  .modalInner {
    padding: 100px 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(189, 187, 187);
    width: 60%;
    margin: 30px auto;
    position: relative;
    padding: 40px;
    img {
      width: 150px;
      border-radius: 10px;
    }
    button {
      position: absolute;
      top: 3%;
      right: 5%;
      border: none;
      background-color: #eee;
      border-radius: 5px;
      padding: 5px 10px;
      color: red;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin: 20px 0 10px;
    }
    p {
      font-size: 15px;
    }
  }
}

.feedback {
  background-color: rgba(238, 238, 238, 0.726);
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .feedbackDiv {
    background-color: $primary__color;
    width: 70%;
    border-radius: 0 20px 20px 0;
    position: relative;
    box-shadow: 0 0 10px rgb(194, 194, 194);
    .closeButton {
      position: absolute;
      top: 5%;
      right: 5%;
      button {
        border: none;
        background-color: transparent;
        color: red;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 5px;
      }
    }
  }
}

.sidebar__profile {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  .img {
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .profile-desc {
    margin-left: 15px;
    h3 {
      font-size: 15px;
      font-weight: 600;
      margin: 0;
    }
    span {
      font-size: 14px;
    }
  }
}

.sendFeedback {
  background-color: #fff;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

.feedbackForm {
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .formDiv {
    max-width: 65%;
    .form-group {
      margin: 10px 0;
    }
  }
}
